---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Logo from "../assets/images/logo-white.png";
import Facebook from "../assets/images/facebook.svg";
import Whatsapp from "../assets/images/whatsapp.svg";
import LinkedIn from "../assets/images/linkedin.svg";
import Instagram from "../assets/images/instagram.svg";
---

<footer class="bg-primary text-white">
  <div class="py-8">
    <div
      class="container mx-auto p-4 lg:px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 text-white"
    >
      <div class="flex flex-col gap-4">
        <a href="/" class="flex items-center">
          <Image
            src={Logo}
            alt="B-MESON Limited Logo"
            class="w-[70px] h-[70px]"
          />
          <p class="text-base font-inter font-black flex flex-col">
            <span class="text-white h-[20px]">B-MESON</span>
            <span class="text-white">LIMITED</span>
          </p>
        </a>
        <p class="leading-8 font-inter text-justify text-sm">
          <span class="font-bold">B-MESON Limited</span> is a leading recruitment
          and talent acquisition firm committed to connecting exceptional talent
          with ambitious organizations. We specialize in delivering innovative, efficient,
          and reliable recruitment solutions tailored to the unique needs of our
          clients.
        </p>
      </div>
      <div>
        <h3
          class="text-base md:text-2xl text-white text-left lg:text-center font-anton"
        >
          Quick Links
        </h3>
        <div class="font-inter text-white grid gap-3 py-4 lg:py-8 text-sm">
          <a
            class="hover:text-yellow-500 hover:font-bold text-left lg:text-center"
            href="/">Home</a
          >
          <a
            class="hover:text-yellow-500 hover:font-bold text-left lg:text-center"
            href="/about">About Us</a
          >
          <a
            class="hover:text-yellow-500 hover:font-bold text-left lg:text-center"
            href="/services">Services</a
          >
          <a
            class="hover:text-yellow-500 hover:font-bold text-left lg:text-center"
            href="/#testimonials">Testimonials</a
          >
          <a
            class="hover:text-yellow-500 hover:font-bold text-left lg:text-center"
            href="/contact">Contact Us</a
          >
        </div>
      </div>
      <div>
        <h3 class="text-base md:text-2xl text-white font-anton">
          Contact Info
        </h3>
        <div
          class="font-inter font-bold text-white grid gap-4 py-4 lg:py-8 text-base"
        >
          <div class="flex gap-4 items-center">
            <div class="p-3 bg-secondary rounded-lg">
              <Icon name={"phone"} size={30} />
            </div>
            <p>+234 901 971 4692</p>
          </div>
          <div class="flex gap-4 items-center">
            <div class="p-3 bg-secondary rounded-lg">
              <Icon name={"email"} size={30} />
            </div>
            <p>info.bmeson@gmail.com, <br />info@b-meson.com.ng</p>
          </div>
          <div class="flex gap-4 items-center">
            <div class="p-3 bg-secondary rounded-lg">
              <Icon name={"location"} size={30} />
            </div>
            <p>3/5 Charity RD, New Oko Oba, Lagos, Nigeria</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-green-950">
    <div
      class="container mx-auto flex flex-col md:flex-row justify-between items-center p-8 gap-4 lg:gap-8"
    >
      <p class="text-center md:text-left">
        <strong>&copy; 2025 B-MESON Limited.</strong> All rights reserved.
      </p>
      <div class="flex items-center gap-6">
        <a href="https://www.facebook.com/LagosJobConnect/" target="_blank"
          ><Image src={Facebook} class="w-8 h-8" alt="Facebook icon" /></a
        >
        <a href="https://wa.me/message/RN33VL3RKZAEO1" target="_blank"
          ><Image src={Whatsapp} class="w-8 h-8" alt="Whatsapp icon" /></a
        >
        <a
          href="https://www.linkedin.com/company/lagosjobconnect/?viewAsMember=true"
          target="_blank"
          ><Image src={LinkedIn} class="w-8 h-8" alt="LinkedIn icon" /></a
        >
        <a href="https://www.instagram.com/lagosjobconnect/" target="_blank"
          ><Image src={Instagram} class="w-8 h-8" alt="Whatsapp icon" /></a
        >
      </div>
    </div>
  </div>
</footer>
