---
import { Image } from "astro:assets";

import Glasshouse from "../assets/images/partners/glasshouse.jpg";
import NSIA from "../assets/images/partners/nsia-logo.png";
import BrainExpress from "../assets/images/partners/brain-express.webp";
import Royalty from "../assets/images/partners/royalty-christian-centre.jpg";
import Talibrick from "../assets/images/partners/tailbrick.jpg";
import VipExpress from "../assets/images/partners/vip-express.jpg";
import Ewa from "../assets/images/partners/ewa-agoyin.jpg";
---

<section class="bg-white pt-10 pb-20">
  <div class="container mx-auto">
    <h2
      class="text-lg lg:text-2xl font-bold text-primary mb-12 text-center font-poppins"
    >
      Trusted by Industry Leaders
    </h2>

    <div class="relative overflow-hidden">
      <!-- Gradient Overlay (Left) -->
      <div
        class="absolute left-0 top-0 h-full w-48 bg-gradient-to-r from-white to-transparent z-10"
      >
      </div>

      <!-- Slider Container -->
      <div
        class="flex whitespace-nowrap animate-scroll hover:cursor-pointer hover:[animation-play-state:paused]"
      >
        <!-- First set of logos -->
        <div class="flex">
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Glasshouse}
              alt="Glass house logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={NSIA}
              alt="NSIA Insurance Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={VipExpress}
              alt="VIP Express Hotel logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Talibrick}
              alt="Tailbricks Properties Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Royalty}
              alt="Royalty Christian Centre Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Ewa}
              alt="Ewa Agoyin Cafe Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={BrainExpress}
              alt="Brain Express Logo"
              class="h-full object-contain"
            />
          </div>
        </div>

        <!-- Duplicate set of logos for seamless loop -->
        <div class="flex">
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Glasshouse}
              alt="Glass house logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={NSIA}
              alt="NSIA Insurance Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={VipExpress}
              alt="VIP Express Hotel logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Talibrick}
              alt="Tailbricks Properties Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Royalty}
              alt="Royalty Christian Centre Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={Ewa}
              alt="Ewa Agoyin Cafe Logo"
              class="h-full object-contain"
            />
          </div>
          <div class="w-[250px] h-14 flex justify-center items-center mx-4">
            <Image
              src={BrainExpress}
              alt="Brain Express Logo"
              class="h-full object-contain"
            />
          </div>
        </div>
      </div>

      <!-- Gradient Overlay (Right) -->
      <div
        class="absolute right-0 top-0 h-full w-48 bg-gradient-to-l from-white to-transparent z-10"
      >
      </div>
    </div>
  </div>
</section>
