---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Talibrick from "../assets/images/testimonials/talibricks.png";
import Aremu from "../assets/images/testimonials/aremu.png";
import BrainEx from "../assets/images/testimonials/brain-express.png";
import Hilltop from "../assets/images/testimonials/hilltop.png";
import ZizaHealth from "../assets/images/testimonials/ziza-health.png";
// import Talibrick from "../assets/images/testimonials/talibricks.png";
// import Talibrick from "../assets/images/testimonials/talibricks.png";
---

<section class="bg-white pt-10 pb-20" id="testimonials">
  <div class="container mx-auto">
    <div
      class="bg-green-100 mx-auto text-primary font-bold mb-4 px-4 py-2 text-sm font-poppins rounded-full w-fit text-center"
    >
      Testimonials
    </div>
    <h2
      class="text-primary text-center font-bold text-xl lg:text-4xl font-poppins mb-8"
    >
      See What Our Clients Are Saying About Us
    </h2>

    <div class="relative overflow-hidden">
      <!-- Gradient Overlay (Left) -->
      <div
        class="absolute left-0 top-0 h-full w-4 md:w-12 lg:w-24 bg-gradient-to-r from-white to-transparent z-10"
      >
      </div>

      <!-- Slider Container -->
      <div
        class="flex whitespace-nowrap animate-scroll hover:cursor-pointer hover:[animation-play-state:paused]"
      >
        <!-- First set of testimonials -->
        <div class="flex">
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={Talibrick}
                alt="Talibricks Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Talibricks Property
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                Thank you so very much for the level of professionalism
                displayed so far. I can confidently say that your organisation
                is worthy of further referrals.
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={Aremu}
                alt="Israel Aremu Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Israel Aremu & Sons
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                We needed to hire 20 engineers and 60 labor workers in a short
                period of time. Their swift delivery within a month saved us
                time and resources, allowing us to focus on project completion.
                Impressed by their competence and efficiency!
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={Hilltop}
                alt="Hilltop Properties Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Hilltop Properties
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                Booster plan delivered exceptional candidates for our real
                estate firm, aligning perfectly with our culture and needs.
                Highly recommended for streamlined recruitment!
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={ZizaHealth}
                alt="ZIZA Health Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                ZIZA Health Care
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                B-Meson has been a game-changer for my gym business. Their
                efficient recruitment process, thorough onboarding, and ongoing
                support for new hires have lightened my workload and improved
                our team performance. Highly recommended!
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={BrainEx}
                alt="Brain Express Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Brain Express
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                We have partnered with B-Meson for over a year now, and they
                have consistently exceeded our expectations. Anytime we need
                staff, they come through without fail. Their reliability and
                commitment to providing top-notch candidates have never
                disappointed us. B-Meson is truly a trusted partner in our
                hiring process, and we highly recommend their services!
              </p>
            </div>
          </div>
        </div>

        <!-- Duplicate set of logos for seamless loop -->
        <div class="flex">
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={Talibrick}
                alt="Talibricks Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Talibricks Property
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                Thank you so very much for the level of professionalism
                displayed so far. I can confidently say that your organisation
                is worthy of further referrals.
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={Aremu}
                alt="Israel Aremu Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Israel Aremu & Sons
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                We needed to hire 20 engineers and 60 labor workers in a short
                period of time. Their swift delivery within a month saved us
                time and resources, allowing us to focus on project completion.
                Impressed by their competence and efficiency!
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={Hilltop}
                alt="Hilltop Properties Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Hilltop Properties
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                Booster plan delivered exceptional candidates for our real
                estate firm, aligning perfectly with our culture and needs.
                Highly recommended for streamlined recruitment!
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={ZizaHealth}
                alt="ZIZA Health Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                ZIZA Health Care
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                B-Meson has been a game-changer for my gym business. Their
                efficient recruitment process, thorough onboarding, and ongoing
                support for new hires have lightened my workload and improved
                our team performance. Highly recommended!
              </p>
            </div>
          </div>
          <div class="w-[400px] h-full relative mx-4">
            <div
              class="w-full h-full mt-[50px] rounded-lg bg-green-50 pb-8 px-4 flex flex-col items-center gap-4"
            >
              <Image
                src={BrainEx}
                alt="Brain Express Logo"
                class="h-[100px] w-[100px] rounded-full object-contain absolute top-0 left-[150px]"
              />
              <h2
                class="mt-[60px] text-xl font-bold font-poppins text-primary text-center"
              >
                Brain Express
              </h2>
              <div class="flex items-center gap-2">
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
                <Icon
                  name="mdi:star"
                  size={32}
                  class="text-yellow-400 group-hover:text-white"
                />
              </div>
              <p class="w-full text-center text-wrap text-base font-inter">
                We have partnered with B-Meson for over a year now, and they
                have consistently exceeded our expectations. Anytime we need
                staff, they come through without fail. Their reliability and
                commitment to providing top-notch candidates have never
                disappointed us. B-Meson is truly a trusted partner in our
                hiring process, and we highly recommend their services!
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Gradient Overlay (Right) -->
      <div
        class="absolute right-0 top-0 h-full w-4 md:w-12 lg:w-24 bg-gradient-to-l from-white to-transparent z-10"
      >
      </div>
    </div>
  </div>
</section>
